@import "../asset/fonts/fonts.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-size: clamp(52.5%, 1.5vw, 62.5%);
}

body {
  overflow: hidden;
  position: relative;

  line-height: 1;
  font-family: "Poppins-medium";
}

:root {
  --primary-color: #fff1da;
  --secondary-color: #212832;
  --third-color: #df6951;
  --primary-button-color: #f1a501;
  --paragraph-color: #5e6282;
}

/* svg {
  border: 1px solid;
} */

a {
  text-decoration: none;
}

select:active,
select:focus {
  border: none;
}

img {
  width: 100%;
}

li {
  list-style-type: none;
}

main {
  max-width: 130rem;
  margin: 0 auto;

  padding: 0 4rem;
  overflow: hidden;
}

h1 {
  color: var(--secondary-color);
  font-size: 8.5rem;

  font-family: "Volkhov-Bold";
}

h3 {
  color: var(--third-color);
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Poppins-Bold";
}

p {
  color: var(--paragraph-color);
  font-size: 1.6rem;

  line-height: 1.5;
}

.wave {
  display: none;
}
