@media (min-width: 770px) {
  html {
    font-size: 62.5%;
  }

  .row-wrap {
    display: flex;
    flex-flow: row wrap;
  }

  .row-nowrap {
    display: flex;
    flex-flow: row nowrap;
  }

  .desktop__menu {
    display: block;
  }

  .mobile__menu {
    display: none;
  }

  .menu-list-bg {
    display: none;
  }

  section {
    padding: 10rem 0;
  }

  .category__title > img {
    display: block;
  }

  .category__card > * {
    flex-basis: 50%;
  }

  .destination__card > * ~ * {
    margin-top: 0;
  }

  .trip__left {
    flex-basis: 45%;
  }

  .trip__right {
    margin: 0;
  }

  .testimonial__left {
    flex-basis: 40%;
  }

  .card {
    left: 30%;
  }

  .top-card {
    left: 25%;
  }

  .testimonial__right {
    margin-top: 0rem;
  }

  .companies {
    margin-top: 0rem;
  }

  .company {
    padding: 2.5rem;
  }

  .subscription__title {
    padding: 0rem 10rem;
  }

  .subscription__input {
    flex-direction: row;
  }

  .subscription__input--button {
    margin-top: 0rem;
    margin-left: 3rem;
  }

  .subscription__spring {
    display: block;
  }

  .wave {
    display: block;
    position: absolute;
    top: 0;
    right: 0;

    z-index: -99;
  }
}

@media (min-width: 1024px) {
  .hero__left {
    flex-basis: 50%;
  }

  .hero__right {
    display: block;
  }

  .category__card > * {
    flex-basis: 20%;
  }

  .category__card > *:hover::after {
    opacity: 1;
  }

  .category__card--rect {
    display: block;
  }

  .destination__card > * {
    flex-basis: 25%;
  }

  footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
    gap: 5rem;

    text-align: left;
  }

  .footer__social p {
    text-align: left;
  }
}
