@media (min-width: 770px) {
  .row {
    display: flex;
    flex-flow: row wrap;
  }

  .desktop__menu {
    display: block;
  }

  .mobile__menu {
    display: none;
  }

  .menu-list-bg {
    display: none;
  }

  .hero {
    padding: 10rem 0;
  }

  .wave {
    display: block;
    position: absolute;
    top: 0;
    right: 0;

    z-index: -99;
  }
}

@media (min-width: 1000px) {
  .hero__left {
    flex-basis: 50%;
  }

  .hero__right {
    display: block;
  }
}
