@media (min-width: 770px) {
  .row {
    display: flex;
    flex-flow: row wrap;
  }

  .desktop__menu {
    display: block;
  }

  .mobile__menu {
    display: none;
  }

  .menu-list-bg {
    display: none;
  }

  .wave {
    display: block;
    position: absolute;
    top: 0;
    right: 0;

    z-index: -1;
  }
}
