.testimonial__left > h2 {
  margin-top: 1.5rem;
}

.testimonial__left-slideIndicator {
  margin-top: 3.5rem;
  display: flex;
}

.testimonial__left-slideIndicator > * ~ * {
  margin-left: 2rem;
}

.dot {
  width: 1rem;
  height: 1rem;
  background-color: #e5e5e5;

  border-radius: 50%;
}

.active-testimonial {
  background-color: var(--testimonial-active-color);
}
